<template>
  <div id="palette-panel">
    <Palette />
  </div>
</template>

<script>
  import Palette from '@/components/Palette'
  export default {
    name: 'PalettePanel',
    created () {
    },
    components: {
      Palette
    }
  }
</script>

<style lang="sass">
  #palette-panel
    width: 250px
</style>
