<template>
  <div id="menu">
    <button></button>
    <button id="close-button" @click="this.close">X</button>
  </div>
</template>

<script>
  export default {
    name: 'Menu',
    methods: {
      close () {
        this.$electron.remote.getCurrentWindow().close()
      }
    }
  }
</script>

<style lang="sass">
  #menu
    display: flex
    justify-content: space-between
  #close-button
    border: 4px solid #B3B0B8
    height: 30px
    width: 30px
    color: white
    background: #FF3636
  #close-button:hover
    border: 4px solid #FF3636
    transition: 0.3s
</style>
