<template>
  <div v-bind:class="{pinned: pinned}" id="app">
    <Menu/>
    <PalettePanel/>
  </div>
</template>

<script>
  import settings from '@/assets/settings.json'
  import Menu from '@/components/Menu'
  import PalettePanel from '@/components/PalettePanel'

  export default {
    name: 'colors',
    data () {
      return {
        window: this.$electron.remote.getCurrentWindow(),
        screen: this.$electron.screen.getPrimaryDisplay().size,
        windowPosition: 'right',
        pinned: settings.pinned
      }
    },
    created () {
      this.setUpWindow()
    },
    methods: {
      setUpWindow () {
        const left = {x: -5, y: 0, z: 0}
        const right = {x: this.screen.width - 355, y: 0, z: 0}
        switch (this.windowPosition) {
          case 'left': this.setWindowPosition(left); break
          default: this.setWindowPosition(right); break
        }
      },
      setWindowPosition (position) {
        this.window.setPosition(position.x, position.y, position.z)
        this.window.setSize(365, this.screen.height)
      }
    },
    components: {
      Menu,
      PalettePanel
    }
  }
</script>

<style lang="sass">
  #app
    background: #EAE2FF
    width: 1px
    height: 100%
    position: fixed
    left: 0
    top: 0
  .pinned
    width: 350px !important
</style>
