<template>
  <div class="palette">
    <div class="colors" v-for="(colors, index) in materialPalette" v-bind:key="index">
      <span 
        class="color" 
        v-for="(color, i) in materialPalette" 
        v-bind:key="i" 
        v-bind:style="{background: color}"
        @click.left="event => copyColor(event, color)"
        @click.right="event => copyColor(event, color)"
        @click.middle="event => copyColor(event, color)"
      >
      </span>
    </div>
  </div>
</template>

<script>
  import materialColors from '@/assets/material-colors.json'
  export default {
    name: 'Palette',
    data () {
      return {
        materialPalette: this.createPalette()
      }
    },
    methods: {
      copyColor (event, color) {
        const { clipboard } = this.$electron
        switch (event.button) {
          case 1: clipboard.writeText(color); break
          case 2: clipboard.writeText(color); break
          default: clipboard.writeText(color); break
        }
      },
    }
  }
</script>

<style lang="sass">
  .palette
    display: flex
    flex-flow: column wrap
  .colors
    display: flex
    flex-flow: row wrap
  .color
    border: 1px solid white
    width: 30px
    height: 30px
  .color:hover
    transform: scale(2)
    transition: 0.1s
    cursor: pointer
</style>
